/* fundov1.css */
html {
  background: #080808 !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background: #080808 !important;
  color: #f0f0f0 !important;
  font-family: 'Syne', sans-serif !important;
}
